/* You can add global styles to this file, and also import other style files */
.card{
    margin-top: 100px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 10px 15px 20px;
    background-color: #d5f4e6;
    color: black;
    font-weight: bold;
}
input{
    border: 1px solid black;
    margin-bottom: 2px;
    border-radius: 10px 10px 10px;
    background-color: #fefbd8;
    text-align: center;
}
button{
    margin-bottom: 10px;
}